@use "../../styles/common" as *;
@use "../../styles/var" as *;

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 10px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 10px 21.25px 3.75px;



    .nav {
        display: grid;
        grid-template-columns: 1fr 3fr 2fr 3fr 1fr;
        align-items: center;
        position: relative;
        z-index: 2;


        @media(max-width:$xl) {
            grid-template-columns: 1fr 2fr 1fr;

            .btns {
                display: flex;
                align-items: center;
                justify-content: end;
                gap: 10px;
            }
        }


        .logo {
            text-align: center;
            margin-bottom: -40px;

            img {
                width: 110px;
                height: auto;
                border: 3px solid $primary;
                border-radius: 12px;
                padding: 10px;
                background: #fff;

                @media(max-width:$sm) {
                    width: 80px;
                }
            }
        }

        .menuTitle {
            display: none;
            padding: 14px 15px;
            color: #fff;
            width: 250px;

            @media(max-width:$xl) {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: $primary;
            }

            h4 {
                margin: 0;
                font-size: 16px;
                font-family: $font-two;
            }
        }

        .menuLeft,
        .menuRight {
            @media(max-width:$xl) {
                position: fixed;
                top: 0;
                left: 0;
                background: #0000008f;
                box-shadow: rgba(0, 0, 0, 0.06) 0px 10px 21.25px 3.75px;
                opacity: 0;
                visibility: hidden;
                transition: 0.25s ease;
                height: 100%;
                width: 100%;

            }

            .menuList {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                margin: 0;

                @media(max-width:$xl) {
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    width: 250px;
                    height: 100%;
                    background: #fff;
                    padding: 10px 20px;

                    li {
                        width: 100%;
                    }
                }

                .navItem {
                    padding: 10px 28px;
                    position: relative;

                    @media(max-width:$xl) {
                        border-bottom: 1px solid $primary;
                        padding: 14px 0;

                        &:last-child {
                            border-bottom: 0;
                        }
                    }

                    &::after {
                        position: absolute;
                        content: "";
                        height: 6px;
                        width: 6px;
                        transform: translateY(-50%) rotate(-45deg);
                        top: 50%;
                        right: -3px;
                        background: $primary;

                        @media(max-width:$xl) {
                            display: none;

                        }
                    }

                    &:last-child::after {
                        display: none;
                    }

                    .navLink {
                        text-decoration: none;
                        color: $color_five;
                        font-weight: 500;
                        text-transform: uppercase;
                        font-size: 14px;

                    }

                    .active {
                        color: $secondary;
                    }
                }
            }
        }


        .search {
            svg {
                font-size: 24px;
            }
        }

        .menuIconsLeft {
            .iconList {
                display: flex;
                align-items: center;
                justify-content: left;
                gap: 20px;
                list-style: none;
                margin: 0;
                padding: 0;

                @media(max-width:$sm) {
                    gap: 14px;
                }

                li {
                    font-size: 20px;

                }
            }
        }

        .menuIcons {
            .iconList {
                display: flex;
                align-items: center;
                justify-content: right;
                gap: 20px;
                list-style: none;
                margin: 0;
                padding: 0;

                @media(max-width:$sm) {
                    gap: 14px;
                }

                li {
                    font-size: 20px;

                }
            }
        }

        .show {
            // &::before {
            //     content: "";
            //     position: fixed;
            //     width: 100%;
            //     height: 100%;
            //     top: 0;
            //     left: 0;
            //     background: rgba(0, 0, 0, 0.5);
            //     z-index: 10;
            // }

            @media(max-width:$xl) {
                opacity: 1;
                visibility: visible;
                z-index: 11;
            }
        }
    }



    .hamMenu {
        display: none;
        text-align: end;

        @media(max-width:$xl) {
            display: block;
        }

        svg {
            font-size: 22px;
        }
    }
}