$primary: #892206;
$secondary: #0d7369;
$color_three: #3C7EC3;
$color_four: #FEA152;
$color_five: #374151;
$color_six: #E4E8FF;
$font_one:  "Golos Text", sans-serif;
$font_two:  "Vast Shadow", serif;

$xxxl: 1759px;
$xxl: 1399px;
$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 575px;