@use "../../styles/common" as *;
@use "../../styles/var" as *;

.banner {
    position: relative;
    padding: 100px 0;
    background: url('/images/bg2.webp') no-repeat center/cover;

    @media(max-width:$xl) {
        padding: 70px 0;
    }

    @media(max-width:$lg) {
        padding: 50px 0;
    }

    @media(max-width:$md) {
        padding: 40px 0;
    }

    @media(max-width:$sm) {
        padding: 30px 0;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.514);
        z-index: 1;
    }

    .container {
        position: relative;
        z-index: 2;
    }

    .content {
        text-align: center;

        h2 {
            color: #fff;
            font-family: $font_two;
            font-size: 64px;
            max-width: 600px;
            margin: auto;
        }
    }
}

.shop {
    padding: 40px 0;
    background: #f7f4ef;

    .wrapper {
        display: flex;
        gap: 40px;

        @media (max-width:$lg) {

            flex-direction: column;

        }
    }

    /* SIDEBAR */
    .sidebar {
        width: 250px;

        @media (max-width:$lg) {

            width: 100%;

        }

        h3 {
            margin-bottom: 20px;
            font-size: 16px;
            font-family: $font_two;
        }
    }

    .filterItem {
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
        cursor: pointer;

        input {
            margin-right: 10px;
        }
    }

    /* CONTENT */
    .content {
        flex: 1;
    }

    /* TOP BAR */
    .topBar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .sort {
        padding: 8px 12px;
        border-radius: 40px;
        font-size: 14px;
    }

    /* GRID */
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 10px;

        @media(max-width:$xl) {
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        }
    }

}



.quality {
    position: relative;
    padding: 100px 0;
    background: url('/images/bg2.webp') no-repeat center/cover;

    @media(max-width:$xl) {
        padding: 70px 0;
    }

    @media(max-width:$lg) {
        padding: 50px 0;
    }

    @media(max-width:$md) {
        padding: 40px 0;
    }

    @media(max-width:$sm) {
        padding: 30px 0;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.514);
        z-index: 1;
    }

    .container {
        position: relative;
        z-index: 2;
    }

    .row {

        .item {
            text-align: center;
            padding: 10px 30px;

            .icon {
                padding-bottom: 20px;

                img {
                    width: 180px;
                    height: auto;
                    border-radius: 12px;
                }
            }

            h2 {
                color: #fff;
                font-family: $font_two;
                font-size: 44px;
                max-width: 600px;
                margin: auto;

                @media(max-width:$md) {
                    font-size: 34px;
                }
            }

        }
    }
}